<h2>Statistik</h2>
 <!-- Tab links -->
<div id="tabs-container" class="tab">
  <button id="0" class="tablinks">Batch</button>
  <button id="1" class="tablinks">Utfodring</button>
</div>

<!-- Tab content -->
<div id="#0" class="tabcontent">
  <h3>Batch</h3>
  <p>Massa statistik</p>
</div>

<div id="#1" class="tabcontent">
  <h3>Utfodring</h3>
  <p>Massa statistik!!</p>
</div>
